<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="financepersonalEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=root;Password=123456;Host=localhost;Database=financepersonal;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>